---
import IconAboutMe from "./icons/IconAboutMe.astro";
---

<section id="about" class="mt-28 md:mt-40 mb-8 md:mb-32 scroll-mt-24">
  <h2
    class="font-title font-bold text-white flex items-center gap-2 mb-8 text-2xl md:text-4xl"
  >
    <IconAboutMe />
    About Me
  </h2>
  <div class="flex flex-col md:flex-row">
    <div class="md:w-2/3 mt-14 md:mt-0">
      <p class="text-[18px]">
        I'm someone who's always eager to <span class="text-amber-400 font-bold"
        >learn something new every day</span>. I believe growth comes from stepping out of your comfort zone.
      </p>
      <p class="text-[18px]">
        Alongside numerous web development projects, I've also worked on things like <span class="text-amber-400 font-bold">computer vision, IoT systems, autonomous robots with LiDAR, and of course, AI</span> projects. 
      </p>
      <p class="text-[18px]">
        These are just a few examples that have broadened my perspective on how technology is evolving and have made me a better engineer.
      </p>
    </div>
    <img
      src="/images/ProfilePhoto.jpg"
      alt="Abraham Ortiz"
      class="w-48 h-48 self-center flex-shrink-0 object-cover md:ml-15 mr-2 -order-1 md:order-10 rounded-xl shadow-lg rotate-[6deg] border-prueba border-4 mt-8 md:mt-0"
    />
  </div>
</section>
