---
import IconAboutMe from "./icons/IconAboutMe.astro";
---

<section class="md:my-25">
  <h2
    class="font-title font-bold text-white flex items-center gap-2 mb-8 text-2xl md:text-4xl"
  >
    <IconAboutMe />
    About Me
  </h2>
  <div class="flex flex-col md:flex-row">
    <p class="md:w-2/3">
      lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      lorem ipsum lorem m
    </p>
    <img
      src="/images/ProfilePhoto.jpg"
      alt="Abraham Ortiz"
      class="w-30 h-30 md:w-48 md:h-48 self-center flex-shrink-0 object-cover md:ml-7 mr-2 -order-1 md:order-10
         rounded-xl shadow-lg md:rotate-[6deg] md:border-accent md:border-4 "
    />
  </div>
</section>
