---
import ExperienceIcon from "./icons/ExperienceIcon.astro"
---

<section class="mt-10">
  <div class="flex items-center">
    <ExperienceIcon/>
    <h1 class="ml-2">Relevant Experience</h1>
  </div>
</section>