---
import IconExperience from "./icons/IconExperience.astro";
import IndividualExperience from "./ui/IndividualExperience.astro";

const experiences = [
  {
    title: "Web Design and Development",
    company: "Freelancer",
    date: "Present",
    description: "Responsive design and front-end development for client projects using Astro and Tailwind CSS."
  },
];
---

<section id="experience" class="mt-28 md:mt-40  scroll-mt-24">
  <h2 class="font-title font-bold text-white flex items-center gap-2 mb-8 text-2xl md:text-4xl">
    <IconExperience />
    Relevant Experience
  </h2>

  {experiences.map(exp => (
    <IndividualExperience 
      title={exp.title}
      company={exp.company}
      date={exp.date}
      description={exp.description}
    />
  ))}
</section>
