---
import IconExperience from "./icons/IconExperience.astro";
import IndividualExperience from "./ui/IndividualExperience.astro";

const experiences = [
  {
    title: "Full-Stack Developer",
    company: "WhatTheCode",
    date: "03/2025 - Present",
    description: "Contributed to the development and optimization of 9 full-stack apps using Node.js, Next.js, and PostgreSQL. Improved API speed, integrated monitoring tools, enhanced CI/CD, and supported data migration from legacy systems."
  },
];
---

<section id="experience" class="mt-28 md:mt-40  scroll-mt-24">
  <h2 class="font-title font-bold text-white flex items-center gap-2 mb-8 text-2xl md:text-4xl">
    <IconExperience />
    Relevant Experience
  </h2>

  {experiences.map(exp => (
    <IndividualExperience 
      title={exp.title}
      company={exp.company}
      date={exp.date}
      description={exp.description}
    />
  ))}
</section>
