---
import LinkWhiteBorder from "./ui/LinkWhiteBorder.astro";
import LinkColorBorder from "./ui/LinkColorBorder.astro";
import IconLinkedIn from "./icons/IconLinkedIn.astro"
---

<section
  class="flex mt-40 mb-30 md:mb-0 flex-row md:flex-col flex-wrap max-h-100 justify-start items-center md:items-start md:justify-center max-w-[650px] mx-2"
>
  <LinkColorBorder href="https://www.linkedin.com/in/abrahamortizcastro/">
    Full-Stack Developer
  </LinkColorBorder>
  <div class="my-3">
    <h1 class="text-white text-3xl md:text-5xl mt-5">Hi, im Abraham<span class="hidden md:inline"> Ortiz</span>!</h1>
    <p class="mt-5 text-sm md:text-xl">
      Passionate and proactive software engineer with experience in full-stack
      development, focused on building scalable and maintainable solutions.
      Strong background in Node.js, Next.js, and PostgreSQL, with hands-on
      experience improving API performance, consolidating legacy data, and
      supporting production systems.
    </p>
  </div>
  <LinkWhiteBorder href=""> 
    <IconLinkedIn />
    LinkedIn 
  </LinkWhiteBorder>
  <img
    src="/images/ProfilePhoto.jpg"
    alt="Abraham Ortiz"
    class="w-22 h-22 md:w-48 md:h-48 rounded-full self-center flex-shrink-0 object-cover md:ml-7 mr-2 -order-1 md:order-10"
  />
</section>
