---
import IconStack from "./icons/IconStack.astro";
import IndividualStack from "./ui/IndividualStack.astro";
import IconAstro from "./icons/Stack/frontend/IconAstro.astro";
import IconCss from "./icons/Stack/frontend/IconCss.astro";
import IconFigma from "./icons/Stack/frontend/IconFigma.astro";
import IconHthml from "./icons/Stack/frontend/IconHthml.astro";
import IconJavaScript from "./icons/Stack/frontend/IconJavaScript.astro";
import IconNextJs from "./icons/Stack/frontend/IconNextJs.astro";
import IconReact from "./icons/Stack/frontend/IconReact.astro";
import IconTaiwind from "./icons/Stack/frontend/IconTaiwind.astro";
import IconTypeScript from "./icons/Stack/frontend/IconTypeScript.astro";
import IconDotNet from "./icons/Stack/backend/IconDotNet.astro";
import IconExpress from "./icons/Stack/backend/IconExpress.astro";
import IconLoopback from "./icons/Stack/backend/IconLoopback.astro";
import IconMongo from "./icons/Stack/backend/IconMongo.astro";
import IconMysql from "./icons/Stack/backend/IconMysql.astro";
import IconNestjs from "./icons/Stack/backend/IconNestjs.astro";
import IconNodeJs from "./icons/Stack/backend/IconNodeJs.astro";
import IconPg from "./icons/Stack/backend/IconPg.astro";
import IconCli from "./icons/Stack/tools/IconCli.astro";
import IconDocker from "./icons/Stack/tools/IconDocker.astro";
import IconGit from "./icons/Stack/tools/IconGit.astro";
import IconGithub from "./icons/Stack/tools/IconGithub.astro";
import IconGitlab from "./icons/Stack/tools/IconGitlab.astro";
import IconLogRocket from "./icons/Stack/tools/IconLogRocket.astro";
import IconSentry from "./icons/Stack/tools/IconSentry.astro";
import IconUbuntu from "./icons/Stack/tools/IconUbuntu.astro";
import IconVscode from "./icons/Stack/tools/IconVscode.astro";
import IconCsharp from "./icons/Stack/backend/IconCsharp.astro";

const techStack = [
  {
    category: "Frontend",
    items: [
      { name: "Astro", icon: IconAstro },
      { name: "CSS", icon: IconCss },
      { name: "Figma", icon: IconFigma },
      { name: "HTML", icon: IconHthml },
      { name: "JavaScript", icon: IconJavaScript },
      { name: "Next.js", icon: IconNextJs },
      { name: "React", icon: IconReact },
      { name: "Tailwind", icon: IconTaiwind },
      { name: "TypeScript", icon: IconTypeScript },
    ],
  },
  {
    category: "Backend",
    items: [
      { name: "C#", icon: IconCsharp },
      { name: ".NET", icon: IconDotNet },
      { name: "Express.js", icon: IconExpress },
      { name: "LoopBack4", icon: IconLoopback },
      { name: "MongoDB", icon: IconMongo },
      { name: "MySQL", icon: IconMysql },
      { name: "Nest.js", icon: IconNestjs },
      { name: "Node.js", icon: IconNodeJs },
      { name: "PostgreSQL", icon: IconPg }
    ],
  },
  {
    category: "Tools",
    items: [
      { name: "CLI", icon: IconCli },
      { name: "Docker", icon: IconDocker },
      { name: "Git", icon: IconGit },
      { name: "GitHub", icon: IconGithub },
      { name: "GitLab", icon: IconGitlab },
      { name: "LogRocket", icon: IconLogRocket },
      { name: "Sentry", icon: IconSentry },
      { name: "Ubuntu", icon: IconUbuntu },
      { name: "VSCode", icon: IconVscode },
    ],
  },
];
---

<section>
  <h2 class="flex items-center mb-10">
    <IconStack />
    Stack
  </h2>
  <div class="grid md:grid-cols-2 gap-15 md:justify-center">
    {
      techStack.map(({ category, items }) => (
        <IndividualStack category={category} items={items} />
      ))
    }
  </div>
</section>
