---
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="w-full h-full flex flex-col">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Abraham Ortiz</title>
  </head>
  <body
    class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-950
      bg-[radial-gradient(circle_farthest-side,rgba(56,189,248,0.15),rgba(255,255,255,0))]"
  >
    <Header />
    <slot />
  </body>
</html>
