---
interface Item {
  name: string;
  icon: any; // cada ícono es un componente
}

interface Props {
  category: string;
  items: Item[];
}

const { category, items } = Astro.props;
---

<section class="mb-10 bg-slate-500 px-5 pt-10 pb-12 rounded-2xl">
  <h3 class=" text-3xl font-bold mb-8 text-center text-accent">{category}</h3>
  <div class="grid grid-cols-3 gap-10">
    {items.map(item => {
      const Icon = item.icon;
      return (
        <div class="flex flex-col items-center gap-2 text-sm text-white">
          <Icon className="w-30 h-20 " />
          <span class="text-xl font-extrabold">{item.name}</span>
        </div>
      );
    })}
  </div>
</section>
