---
export interface Props {
  href: string;
  target?: string;
}
const { href, target = "_blank" } = Astro.props;
---

<a
  href={href}
  target={target}
  class="bg-gradient-to-tl from-blue-200 to-accent p-[2px] rounded-full w-fit inline-block h-fit"
>
  <span
    class="bg-slate-800 rounded-full w-fit text-center border border-transparent px-4 py-2 text-sm block"
  >
    <slot />
  </span>
</a>
