
<div
  class="bg-gradient-to-tl from-blue-200 to-accent p-[2px] rounded-full w-fit inline-block h-fit ml-5 md:ml-0"
>
  <span
    class="bg-slate-800 rounded-full w-fit text-center border border-transparent px-4 py-2 text-xs md:text-sm block"
  >
    <slot />
  </span>
</div>
